# Папки с зависимостями
node_modules/

# Результаты сборки (если когда-нибудь будешь собирать проект)
dist/
build/

# Файлы редакторов
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db

# Логи и кэш
*.log
.npm