/* .contacts-map {
   overflow: hidden;
} */

/* .contacts-map-moskow {
   color: #eee;
   font-size: 12px;
   position: absolute;
   top: 0px;
}

.contacts-map-moskowCity {
   color: #eee;
   font-size: 12px;
   position: absolute;
   top: 14px;
} */

/* .contacts-map-iframe {
   border: 1px solid var(--nav-bg-color);
   background-color: var(--nav-bg-color);
   padding: 0;
} */
