/*Обертка для бургер-палочек\крестика*/
.burger {
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 30px; /*ширина бургер-полосок*/
   height: 21px;
   background: transparent;
   border: none;
   cursor: pointer;
   z-index: 1000;
   padding: 0;
}

.burger-line {
   width: 100%; /*ширина бургер-полосок*/
   height: 3px;
   background-color: var(--nav-link-color);
   border-radius: 2px;
   transition: all 0.3s ease;
}

/*переключение бургер-линий на бургер-крестик*/
.toggle .burger-line:nth-child(1) {
   transform: rotate(45deg) translate(5px, 6px);
}
.toggle .burger-line:nth-child(2) {
   opacity: 0;
}
.toggle .burger-line:nth-child(3) {
   transform: rotate(-45deg) translate(5px, -6px);
}
